.grid-container {
    margin-top: 70px;
    margin-bottom: 70px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .grid-item {
    width: 30%;
    text-align: center;
    margin: 10px;
  }

.grid-container.previousEditors{
  margin-top: 20px;
  margin-bottom: 20px;  
  display: flex;
}
.grid-item.previousEditors {
  display: flex;
  justify-content: flex-start;
  width:40%;
  margin: 10px;
}

img {
  width: 100%;
  height: auto;
}

@media (max-width:991px) {
  .form-container{
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (max-width: 767px) {
  .grid-item {
    width: 100%;
  }
}

.w-container.contactUs{
  display: flex;
  justify-content: start;
}

.p.white.contactText{
  text-align: left;
}

.w-container.contact {
  display: flex;
  justify-content: start;
}

.form-container {
  width: 100%;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group {
  font-size: medium;
  margin-bottom: 1rem;
  width: 100%;
}


label {
  font-weight: bold;
}

input,
textarea {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.5rem;
  width: 100%;
  resize: vertical;
}

.rectangular-button {
  width:200px;
  border: 2px solid white;
  color: white;
  background-color: #191919;
  padding: 10px 20px;
  cursor: pointer;
  font-family: paperspace03, sans-serif;
  font-size: 22px;
}

.rectangular-button:hover {
  border: 2px solid #191919;
  color: #191919;
  background-color: white;
}

.container-3.w-container.summary {
  margin-top: 80px;
}

.border {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  margin-bottom: 80px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.date {
  font-size: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: start;
}


.helveticaNeue  {
  font-family: Helvetica, 'Helvetica Neue', sans-serif, Arial;
}

.myriad {
  font-family: "Myriad Pro", Myriad, sans-serif, Arial;
}

@media (max-width:991px) {
  .whiteNavBar {
    background-color: white;
    position:fixed;
    top:0;
    width:100%;
    height: 80px;
    z-index:100;
  }
}

.email-sent {
  display: none;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom:10px;
}

.email-failed {
  display: none;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

